server/src/node-red/flows.json
[
    {
        "id": "b72194e564a343a3",
        "type": "tab",
        "label": "Fluxo de Recebimento",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5647476a7418cecb",
        "type": "tab",
        "label": "Fluxos de Fechamento de Ordem de serviço",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c1a252f.b8d50b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "720379f6ccca03f9",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "db",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "argos",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "max": "10",
        "maxFieldType": "num",
        "min": "1",
        "minFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "nodered",
        "userFieldType": "str",
        "password": "noderedUser",
        "passwordFieldType": "str"
    },
    {
        "id": "a85caed63251a0c7",
        "type": "aedes broker",
        "z": "b72194e564a343a3",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 110,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1fc5f4dd6351f799",
        "type": "function",
        "z": "b72194e564a343a3",
        "name": "Append TimeStamp and Dif",
        "func": "msg.payload.timestamp =new Date(Date.now()).toUTCString()\noutFuel = msg.payload.saidaCombustivel\ninFuel = msg.payload.entradaCombustivel\n\n\n\n\nif ((outFuel != null)&&(inFuel !=null)){\n    msg.payload.diferenca = outFuel - inFuel;\n    msg.data = msg.payload;\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 200,
        "wires": [
            [
                "2f6d297462aae5ca"
            ]
        ]
    },
    {
        "id": "7d6eb865597b9d3e",
        "type": "debug",
        "z": "b72194e564a343a3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 340,
        "wires": []
    },
    {
        "id": "7867a2b11134cbba",
        "type": "mqtt in",
        "z": "b72194e564a343a3",
        "name": "",
        "topic": "ARGOS",
        "qos": "2",
        "datatype": "json",
        "broker": "c1a252f.b8d50b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 140,
        "wires": [
            [
                "1fc5f4dd6351f799"
            ]
        ]
    },
    {
        "id": "2f6d297462aae5ca",
        "type": "postgresql",
        "z": "b72194e564a343a3",
        "name": "Seleciona Ordem de Serviço",
        "query": "SELECT * FROM ORDEM_SERVICO WHERE ESTADO = 'EM ANDAMENTO' AND SENSOR = '{{{msg.data.sensor}}}';",
        "postgreSQLConfig": "720379f6ccca03f9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 200,
        "y": 260,
        "wires": [
            [
                "783aac84b6db1ba1"
            ]
        ]
    },
    {
        "id": "783aac84b6db1ba1",
        "type": "switch",
        "z": "b72194e564a343a3",
        "name": "Ordem de Serviço Existe?",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 340,
        "wires": [
            [
                "ef50e6896d7c949e"
            ],
            [
                "b4f5a07843b94bed"
            ]
        ]
    },
    {
        "id": "afceeacd8650ae21",
        "type": "postgresql",
        "z": "b72194e564a343a3",
        "name": "INSERT DADO COLETADO",
        "query": "INSERT INTO DADOS_COLETADO(id_ordem,sensor, entrada_combustivel, saida_combustivel , diferenca , \"timestamp\"  ) values ({{{msg.data.id}}} ,'{{{msg.data.sensor}}}' , {{{msg.data.entradaCombustivel}}} , {{{msg.data.saidaCombustivel}}} , {{{msg.data.diferenca}}} , '{{{msg.data.timestamp}}}');\n",
        "postgreSQLConfig": "720379f6ccca03f9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 720,
        "y": 480,
        "wires": [
            [
                "f9f18537eb4cc676"
            ]
        ]
    },
    {
        "id": "ef50e6896d7c949e",
        "type": "postgresql",
        "z": "b72194e564a343a3",
        "name": "CRIA NOVA ORDEM",
        "query": "INSERT INTO ORDEM_SERVICO(SENSOR) VALUES ('{{{msg.data.sensor}}}');\nSELECT ID FROM ORDEM_SERVICO WHERE SENSOR = '{{{msg.data.sensor}}}';\n\n\n",
        "postgreSQLConfig": "720379f6ccca03f9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 500,
        "y": 300,
        "wires": [
            [
                "b4f5a07843b94bed",
                "ac6e33a91f583182"
            ]
        ]
    },
    {
        "id": "b4f5a07843b94bed",
        "type": "change",
        "z": "b72194e564a343a3",
        "name": "Seta Id da Ordem",
        "rules": [
            {
                "t": "set",
                "p": "data.id",
                "pt": "msg",
                "to": "payload[0].id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 400,
        "wires": [
            [
                "afceeacd8650ae21"
            ]
        ]
    },
    {
        "id": "f9f18537eb4cc676",
        "type": "postgresql",
        "z": "b72194e564a343a3",
        "name": "Atualiza Ordem",
        "query": "UPDATE ORDEM_SERVICO SET \nabastecimento_efetivo = {{msg.data.entradaCombustivel}} + abastecimento_efetivo, \nvazamento = {{msg.data.diferenca}} + vazamento ,\nvalor = ({{msg.data.entradaCombustivel}} + abastecimento_efetivo)*3.5\nWHERE estado = 'EM ANDAMENTO' AND  sensor = '{{msg.data.sensor}}';\n\nUPDATE ORDEM_SERVICO SET \nseveridade_vazamento = (\nselect severidade  from CAT_SEVERIDADE_VAZAMENTO \nwhere VAZAMENTO < (select vazamento from ordem_servico where ESTADO ='EM ANDAMENTO'and sensor ='{{msg.data.sensor}}') \nOR severidade = 'NULO' order by vazamento desc limit 1)\nWHERE estado = 'EM ANDAMENTO' AND  sensor = '{{msg.data.sensor}}';",
        "postgreSQLConfig": "720379f6ccca03f9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 880,
        "y": 400,
        "wires": [
            [
                "7d6eb865597b9d3e"
            ]
        ]
    },
    {
        "id": "ac6e33a91f583182",
        "type": "debug",
        "z": "b72194e564a343a3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "fb28b333355f369b",
        "type": "inject",
        "z": "5647476a7418cecb",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "3179054b82f6631a"
            ]
        ]
    },
    {
        "id": "3179054b82f6631a",
        "type": "postgresql",
        "z": "5647476a7418cecb",
        "name": "SELECT Ordens Abertas",
        "query": "SELECT ID FROM ORDEM_SERVICO WHERE ESTADO = 'EM ANDAMENTO'; ",
        "postgreSQLConfig": "720379f6ccca03f9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "6301b33b712605b2"
            ]
        ]
    },
    {
        "id": "4c08f921167a4117",
        "type": "postgresql",
        "z": "5647476a7418cecb",
        "name": "Executa Query",
        "query": "{{{msg.select.query}}}",
        "postgreSQLConfig": "720379f6ccca03f9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 440,
        "y": 240,
        "wires": [
            [
                "f15575ad5f7e6c36"
            ]
        ]
    },
    {
        "id": "6301b33b712605b2",
        "type": "function",
        "z": "5647476a7418cecb",
        "name": "Monta Query SELECT",
        "func": "msg.select = {}\ndata = new Date(Date.now()-30000).toUTCString()\n\nmsg.select.query = 'SELECT DISTINCT ID_ORDEM FROM DADOS_COLETADO WHERE  timestamp > \\''+ data+'\\'' ;\nmsg.select.id = []\nmsg.payload.forEach((ordem)=>{\n    msg.select.id.push(ordem.id)\n    msg.select.query += ' AND ID_ORDEM = ' +String(ordem.id)\n})\n\nmsg.select.query += ' ;'\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "4c08f921167a4117"
            ]
        ]
    },
    {
        "id": "f15575ad5f7e6c36",
        "type": "function",
        "z": "5647476a7418cecb",
        "name": "Monta Query UPDATE",
        "func": "function updateQuery(id){\n    msg.update.query += cont>0 ?' AND ' : ''\n    msg.update.query += 'ID = '+String(id)\n    cont += 1\n}\n\nmsg.update={}\nmsg.update.query = 'UPDATE ORDEM_SERVICO SET ESTADO = \\'FINALIZADA\\' WHERE '\ncont = 0\n\nmsg.select.id.forEach((id)=>{\n    if (msg.payload.length > 0){\n        msg.payload.forEach((query)=>{\n            \n            if (id !=query.id_ordem){\n                updateQuery(id)\n            }\n        })\n    }else{\n        updateQuery(id)\n    }\n})\nmsg.update.query += ' ;'\n\nif (cont >0) return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 300,
        "wires": [
            [
                "db549acf55e38cac"
            ]
        ]
    },
    {
        "id": "db549acf55e38cac",
        "type": "postgresql",
        "z": "5647476a7418cecb",
        "name": "Executa Query",
        "query": "{{{msg.update.query}}}",
        "postgreSQLConfig": "720379f6ccca03f9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 640,
        "y": 360,
        "wires": [
            [
                "40de038d5eac4023"
            ]
        ]
    },
    {
        "id": "40de038d5eac4023",
        "type": "debug",
        "z": "5647476a7418cecb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 360,
        "wires": []
    }
]